<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <meta name="description" content="Magic Nothing || All music is beautiful. || Los Angeles, CA">
    <meta name="keywords" content="record label, los angeles, diy, underground, art, indie, cassettes, tapes, cassette, rock and roll, punk, folk, outsider, weirdo, glam, rockandroll, music">
    <link rel="apple-touch-icon" sizes="180x180" href="./favicons/apple-touch-icon.png?v=vMrgLKAE0v">
    <link rel="icon" type="image/png" href="./assets/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="./assets/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="mask-icon" href="./assets/favicons/safari-pinned-tab.svg?" color="#5bbad5">
    <link rel="shortcut icon" href="./assets/favicons/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta name="theme-color" content="#ffffff">
    {% seo %}
  </head>
  <body>
    <header>
        <div class="container-fluid">
            <div class="row justify-content-center">
              <div class="col-xs-12 col-md-4 social-container text-center">
                <a href="https://instagram.com/magic_nothing"><i class="fab fa-instagram social"></i></a>
                <a href="https://open.spotify.com/playlist/5XxgZ0tNjri8JIHgquZ9xb?si=KHjH_t1GR_mE2YZ-voLsGQ"><i class="fab fa-spotify social"></i></a>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-xs-12 col-sm-8 col-md-6">
                  <a href="/"><image src="./assets/images/MN-fulltext-black.jpg" class="img-fluid" alt="Responsive image"></image></a>
              </div>
            </div>
        </div>
    {% include navigation.html %}
    </header>
    {{ content }}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script type="text/javascript"> (function() { var css = document.createElement('link'); css.href = 'https://use.fontawesome.com/releases/v5.1.0/css/all.css'; css.rel = 'stylesheet'; css.type = 'text/css'; document.getElementsByTagName('head')[0].appendChild(css); })(); </script>
  </body>
</html>
